@use "../../sass/colors" as colors;

.loading {
    background-color: colors.$primary-black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.loader {
    position: relative;
    height: 60px;
    width: 60px;
    box-sizing: content-box;
    padding: 10px;
}

.square {
    background-color: colors.$color-green-2;
    height: 30px;
    width: 30px;
    position: absolute;
}

.square-1 {
    animation: load 2s infinite;
}

.square-2 {
    animation: load 2s infinite;
    animation-delay: 1s;
}

@keyframes load {
    0% {
        translate: 0px 0px;
        scale: 1;
        rotate: 0deg;
    }

    25% {
        translate: 40px 0px;
        scale: 0.5;
        rotate: -90deg;
    }

    50% {
        translate: 40px 40px;
        scale: 1;
        rotate: 180deg;
    }

    75% {
        translate: 0px 40px;
        scale: 0.5;
        rotate: 90deg;
    }
}