@use "./colors" as colors;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    font-family: 'Mulish', sans-serif;
    overflow-x: hidden;
    background-color: colors.$primary-black;
    color: colors.$color-grey-1;
    letter-spacing: .75px;
}

ul li,
ol li {
    list-style-type: none;
}

a,
button {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}


/****helpers***/


.heading {
    margin-bottom: 1rem;
    color: #FFB39B;
    font-weight: bolder;
    font-family: 'Rammetto One', cursive;

    &-1 {

        font-size: 3rem;

        @media (max-width: 737px) {
            font-size: 2.5rem;
        }

    }

    &-3 {
        font-size: 1.75rem;
    }
}


.text-paragraph {

    font-size: 1.75rem;

    @media (max-width: 737px) {
        font-size: 1.5rem;
    }

    line-height: 1.7;
    font-weight: 500;
    margin-bottom: 1rem;
}

img {
    display: block;
    max-width: 100%;
}


.contact-me {
    display: flex;
    margin-top: 2rem;
    max-width: max-content;

    &>a {
        font-size: 1.35rem;
        text-transform: uppercase;
        color: #fff;
        background-color: #E7005E;
        padding: 1.75rem 2rem;
        width: 210px;
        text-align: center;
        font-weight: 800;
        border-radius: 4px;

        @media (max-width: 1024px) {
            width: 160px;
            padding: 1.45rem 1.85rem;
        }

        &.bg-green {
            background-color: colors.$color-green-2;
            color: colors.$primary-black;
        }
    }
}


.flex-container {
    display: flex;
}

.align-center {
    align-items: center;
}

.gap-4 {
    gap: 4rem;
}

.mt-2 {
    margin-top: 2rem;
}

.link-to-page {
    position: absolute;
    display: block;

    @media (max-width: 737px) {
        display: none;
    }

    top: 50%;
    display: flex;
    flex-direction: column;

    &.point-right {
        right: 100px;
    }

    &.point-right>&__inner {
        display: flex;
        flex-direction: column;
        position: relative;


        &::before,
        &:after {
            content: "";
            position: absolute;
            height: 1.5px;
            background-color: colors.$color-grey-1;
            width: 40px;
            cursor: pointer;
        }

        &::before {
            transform: rotate(40deg);
            top: -1px;
            right: -20px;
        }

        &::after {
            transform: rotate(-40deg);
            top: 25px;
            right: -20px;
        }

        &>a {
            width: 100%;
            height: 100%;
            font-size: 1.75rem;
            padding: 0 1rem;
            font-weight: 900;
            color: colors.$color-grey-1;
            overflow: hidden;
            display: flex;

            &>span {
                transform: translateX(200%);
                transition: transform 200ms ease-in;
            }




        }

        &:hover>a>span {
            transform: translateX(0);
            cursor: pointer;
        }



    }

    &.point-left {
        left: 100px;


    }

    &.point-left>&__inner {
        display: flex;
        flex-direction: column;
        position: relative;


        &::before,
        &:after {
            content: "";
            position: absolute;
            height: 1.5px;
            background-color: colors.$color-grey-1;
            width: 40px;
            cursor: pointer;
        }

        &::before {
            transform: rotate(-40deg);
            top: -1px;
            left: -20px;
        }

        &::after {
            transform: rotate(40deg);
            top: 25px;
            left: -20px;
        }

        &>a {
            width: 100%;
            height: 100%;
            font-size: 1.75rem;
            padding: 0 1rem;
            font-weight: 900;
            color: colors.$color-grey-1;
            overflow: hidden;
            display: flex;

            &>span {
                transform: translateX(-200%);
                transition: transform 200ms ease-in;
            }




        }

        &:hover>a>span {
            transform: translateX(0);
            cursor: pointer;
        }



    }






}


.ribbon {

    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    width: 600px;
    z-index: 99;
    transform: rotate(45deg);
    position: fixed;
    right: -200px;
    top: 80px;


    &>a {
        padding: 1.5rem;
        background-color: colors.$color-green-1;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -2px 3px 1px rgba(0, 0, 0, .23);
        transition: color 200ms ease-in;

        &:hover {
            background-color: darken($color: colors.$color-green-1, $amount: 10);
        }
    }
}