@use "./color" as colors;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    background-color: colors.$primary-black;
    color: colors.$color-grey-2;
}