@use "../../sass/colors" as colors;

.portfolio-header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    left: 0;
    padding: 2rem;
    z-index: 999;

    &>button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 0;

        &>svg {
            font-size: 5rem;

            @media (max-width: 737px) {
                font-size: 3.5rem;
                color: colors.$color-green-2;

            }
        }
    }


    @media (max-width: 737px) {
        padding: .65rem;
        background-color: colors.$primary-black-2;
        top: unset;
        left: unset;
        right: 2rem;
        bottom: 5%;
        border-radius: 50%;
    }


}


.overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.overlay-navs {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>li {
        display: flex;
        flex-direction: column;

        margin-bottom: 3rem;

        &>a {
            font-size: 3rem;
            padding: 1rem 2rem;
            color: colors.$color-grey-1;
            transition: background-color 200ms ease-in;

            @media (max-width: 737px) {
                font-size: 1.65rem;
            }


        }

        &>a:hover {
            background-color: colors.$primary-black-2;
        }
    }
}


.close-overlay {
    position: absolute;
    right: 50px;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 70px;

    @media (max-width: 737px) {
        width: 50px;
        height: 50px;
    }

    &>button {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        border: 0;
        background-color: transparent;
        background-color: rgba(62, 62, 221, 0.199);
        border-radius: 50%;
        color: colors.$color-green-2;
    }
}